            #map {
                    height: 100%;
                }

                html,
                body {
                    height: 80%;
                    margin: 0;
                    padding: 0;
                }

                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                    text-align: center;
                }

                h2{
                    text-align: center;
                }
                input[type=file] {
                    padding:5px; 
                    border:2px solid #ccc; 
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                }

                input[type=file]:focus {
                    border-color:#333;
                }

                input[type=submit] {
                    padding:5px 15px; 
                    background:rgba(47, 50, 255, 0.883);
                    color: rgb(255, 255, 255); 
                    border:0 none;
                    cursor:pointer;
                    -webkit-border-radius: 5px;
                    border-radius: 5px; 
                }            
                input[type=submit]:hover {
                    padding:5px 15px; 
                    background:rgb(38, 132, 255); 
                    color: rgb(255, 255, 255); 
                    border:0 none;
                    cursor:pointer;
                    -webkit-border-radius: 5px;
                    border-radius: 5px; 
                }
                input[type=submit]:active {
                    padding:5px 15px; 
                    background:rgb(9, 114, 251); 
                    color: rgb(255, 255, 255); 
                    border:0 none;
                    cursor:pointer;
                    -webkit-border-radius: 5px;
                    border-radius: 5px; 
                }
                .btn-group button {
                    padding: 10px 10px 10px 10px; /* Some padding */
                    cursor: pointer; /* Pointer/hand icon */
                    width: 30%; /* Set a width if needed */
                    display: block; /* Make the buttons appear below each other */
                    margin-bottom: 3px;
                    margin-left: 35%;
                    }

                .btn-group button:not(:last-child) {
                    border-bottom: none; /* Prevent double borders */
                }
                
                #but_gen{
                    background-color: rgb(19, 153, 26);
                    color: rgb(255, 255, 255); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 35px;

                }
                #but_gen:hover{
                    background-color: rgb(11, 240, 22);
                    color: rgb(0, 0, 0); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 35px;

                }
                #but_gen:active{
                    background-color: rgb(71, 255, 86);
                    color: rgb(0, 0, 0); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 34px;

                }

                #but_gen2{
                    background-color: rgb(168, 143, 2);
                    color: rgb(255, 255, 255); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 35px;

                }
                #but_gen2:hover{
                    background-color: rgb(231, 184, 30);
                    color: rgb(0, 0, 0); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 35px;

                }
                #but_gen2:active{
                    background-color: rgb(255, 227, 71);
                    color: rgb(0, 0, 0); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 34px;

                }
                #but_del{
                    background-color: rgb(168, 2, 2);
                    color: rgb(255, 255, 255); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 35px;

                }
                #but_del:hover{
                    background-color: rgb(231, 47, 30);
                    color: rgb(0, 0, 0); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 35px;

                }

                #but_del:active{
                    background-color: rgb(255, 71, 71);
                    color: rgb(0, 0, 0); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 34px;

                }

                #but_gen_cl{
                    background-color: rgb(73, 73, 73);
                    color: rgb(255, 255, 255); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 35px;

                }

                #but_gen_cl:hover{
                    background-color: rgb(161, 161, 161);
                    color: rgb(0, 0, 0); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 35px;
                }
                #but_gen_cl:active{
                    background-color: rgb(206, 206, 206);
                    color: rgb(0, 0, 0); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 34px;

                }
                #but_gen_table{
                    background-color: rgb(0, 33, 180);
                    color: rgb(255, 255, 255); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 35px;
                }
                #but_gen_table:hover{
                    background-color: rgb(27, 66, 241);
                    color: rgb(255,255,255); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 35px;
                }
                #but_gen_table:active{
                    background-color: rgb(92, 116, 251);
                    color: rgb(0, 0, 0); 
                    font-size: 18px;
                    text-align: center;
                    border-radius: 15px;
                    height: 34px;

                }
                #fileInput{
                    background-color: rgb(76, 0, 163);
                    color: rgb(255, 255, 255); 
                    text-align: center;
                    border-radius: 5px;
                    height: 35px;

                }

                #fileInput:hover{
                    background-color: rgb(149, 20, 255);
                    color: rgb(255, 255, 255); 
                    text-align: center;
                    border-radius: 5px;
                    height: 35px;

                }
                #fileInput:active{
                    background-color: rgb(191, 56, 253);
                    color: rgb(255, 255, 255); 

                    text-align: center;
                    border-radius: 5px;
                    height: 34px;

                }
                #fileInput2{
                    background-color: rgb(76, 0, 163);
                    color: rgb(255, 255, 255); 
                    text-align: center;
                    border-radius: 5px;
                    height: 35px;

                }

                #fileInput2:hover{
                    background-color: rgb(149, 20, 255);
                    color: rgb(255, 255, 255); 
                    text-align: center;
                    border-radius: 5px;
                    height: 35px;

                }
                #fileInput2:active{
                    background-color: rgb(191, 56, 253);
                    color: rgb(255, 255, 255); 

                    text-align: center;
                    border-radius: 5px;
                    height: 34px;

                }

                #floating-panel {
                    position: absolute;
                    top: 7%;
                    left: 25%;
                    z-index: 5;
                    background-color: #fff;
                    padding: 5px;
                    border: 1px solid #999;
                    text-align: center;
                    font-family: "Roboto", "sans-serif";
                    line-height: 30px;
                    padding-left: 10px;
                }  
            
                @media only screen and (max-width: 600px) {
                    h2{
                        font-size: 12px;
                    }
                    #file, #file_TXT{
                        margin-left: 32%;
                    }
                    #but_gen,
                    #but_gen:hover,
                    #but_gen:active,
                    #but_gen2,
                    #but_gen2:hover,
                    #but_gen2:active,
                    #but_del,
                    #but_del:hover,
                    #but_del:active,
                    #but_gen_cl,
                    #but_gen_cl:hover,
                    #but_gen_cl:active,
                    #but_gen_table,
                    #but_gen_table:hover,
                    #but_gen_table:active,
                    input[type=file],
                    input[type=file]:focus,
                    input[type=submit],          
                    input[type=submit],
                    input[type=submit]:active,
                    #fileInput,
                    #fileInput:hover,
                    #fileInput:active,
                    #fileInput2,
                    #fileInput2:hover,
                    #fileInput2:active{
                        font-size: 10px;
                    }


                    #floating-panel {
                        font-size:11px;
                        width:40%;
                        top: 4%;
                        left: 42%;

                    }  
                    #submit{
                        font-size: 10px;
                    }
                    
                    input#address{
                        width:40%;
                    }

                }

                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (min-width: 600px) {
                    h2{
                        font-size: 16px;
                    }
                    #file, #file_TXT{
                        margin-left: 32%;
                    }
                    #but_gen,
                    #but_gen:hover,
                    #but_gen:active,
                    #but_gen2,
                    #but_gen2:hover,
                    #but_gen2:active,
                    #but_del,
                    #but_del:hover,
                    #but_del:active,
                    #but_gen_cl,
                    #but_gen_cl:hover,
                    #but_gen_cl:active,
                    #but_gen_table,
                    #but_gen_table:hover,
                    #but_gen_table:active,
                    input[type=file],
                    input[type=file]:focus,
                    input[type=submit],          
                    input[type=submit],
                    input[type=submit]:active, 
                    #fileInput,
                    #fileInput:hover,
                    #fileInput:active,
                    #fileInput2,
                    #fileInput2:hover,
                    #fileInput2:active{
                        font-size: 12px;
                    }

                    #floating-panel {
                        font-size:13px;
                        width:280px;
                        top: 4%;
                        left: 38%;

                    }  
                    #submit{
                        font-size: 10px;
                    }
                    
                    input#address{
                        width:40%;
                    }
                }

                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (min-width: 768px) {
                    h2{
                        font-size: 20px;
                    }
                    #file, #file_TXT{
                        margin-left: 35%;
                    }
                    #but_gen,
                    #but_gen:hover,
                    #but_gen:active,
                    #but_gen2,
                    #but_gen2:hover,
                    #but_gen2:active,
                    #but_del,
                    #but_del:hover,
                    #but_del:active,
                    #but_gen_cl,
                    #but_gen_cl:hover,
                    #but_gen_cl:active,
                    #but_gen_table,
                    #but_gen_table:hover,
                    #but_gen_table:active,
                    input[type=file],
                    input[type=file]:focus,
                    input[type=submit],          
                    input[type=submit],
                    input[type=submit]:active, 
                    #fileInput,
                    #fileInput:hover,
                    #fileInput:active,
                    #fileInput2,
                    #fileInput2:hover,
                    #fileInput2:active{
                        font-size: 14px;
                    }

                    #floating-panel {
                        font-size:15px;
                        width: 320px;
                        top: 4%;
                        left: 42%;

                    }  
                    #submit{
                        font-size: 12px;
                    }
                    
                    input#address{
                        width:40%;
                    }
                } 

                /* Large devices (laptops/desktops, 992px and up) */
                @media only screen and (min-width: 992px) {
                    h2{
                        font-size: 22px;
                    }
                    #file, #file_TXT{
                        margin-left: 32%;
                    }
                    #but_gen,
                    #but_gen:hover,
                    #but_gen:active,
                    #but_gen2,
                    #but_gen2:hover,
                    #but_gen2:active,
                    #but_del,
                    #but_del:hover,
                    #but_del:active,
                    #but_gen_cl,
                    #but_gen_cl:hover,
                    #but_gen_cl:active,
                    #but_gen_table,
                    #but_gen_table:hover,
                    #but_gen_table:active,
                    input[type=file],
                    input[type=file]:focus,
                    input[type=submit],          
                    input[type=submit],
                    input[type=submit]:active,
                    #fileInput,
                    #fileInput:hover,
                    #fileInput:active,
                    #fileInput2,
                    #fileInput2:hover,
                    #fileInput2:active{
                        font-size: 16px;
                    }

                    #floating-panel {
                        font-size:15px;
                        width: 340px;
                        top: 4%;
                        left: 42%;

                    }  
                    #submit{
                        font-size: 12px;
                    }
                    
                    input#address{
                        width:40%;
                    }
                } 

                /* Extra large devices (large laptops and desktops, 1200px and up) */
                @media only screen and (min-width: 1200px) {
                    h2{
                        font-size: 24px;
                    }
                    #file, #file_TXT{
                        margin-left: 36%;
                    }
                    #but_gen,
                    #but_gen:hover,
                    #but_gen:active,
                    #but_gen2,
                    #but_gen2:hover,
                    #but_gen2:active,
                    #but_del,
                    #but_del:hover,
                    #but_del:active,
                    #but_gen_cl,
                    #but_gen_cl:hover,
                    #but_gen_cl:active,
                    #but_gen_table,
                    #but_gen_table:hover,
                    #but_gen_table:active,
                    input[type=file],
                    input[type=file]:focus,
                    input[type=submit],          
                    input[type=submit],
                    input[type=submit]:active,
                    #fileInput,
                    #fileInput:hover,
                    #fileInput:active,
                    #fileInput2,
                    #fileInput2:hover,
                    #fileInput2:active{
                        font-size: 18px;
                    }

                    #floating-panel {
                        font-size:17px;
                        width: 360px;
                        top: 4%;
                        left: 42%;

                    }  
                    #submit{
                        font-size: 14px;
                    }
                    
                    input#address{
                        width:40%;
                    }
                }